/vendor
/node_modules
.env
.env.backup
.env.*.local
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
*.log
